<div class="container">
    <nav class="nav">
      <ul class="nav__container">
        <li class="nav__item">
          <a href="" class="nav__link">Travel updates</a>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link">Reviews</a>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link">About</a>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link">Contact</a>
        </li>
      </ul>
    </nav>
<div class="add__container">
	<button id="add" type="button" class="button" (click) = "toggleModal(true)"> + Add Article</button>
</div>
<ul>
    <li *ngFor="let article of filteredArticleList">
        <app-article [article]="article" (selectArticle)="selectArticle($event)" (fetchArticles)="fetchArticles()" ></app-article>
    </li>
</ul>
<footer class="footer">
    <button class="footer__link" [disabled]="startIndex === 0" (click)="prevArticles()">previous</button>
    <button class="footer__link" [disabled]="endIndex >= articleList.length" (click)="nextArticles()">next</button>
  </footer>
<app-modal [isModalOpen]="isModalOpen" [selectedArticle]="selectedArticle" 
(toggleModal)="toggleModal($event)" (fetchArticles)="fetchArticles()" 
(resetSelectedArticle)="resetSelectedArticle()"></app-modal>
