<article>
    <h2 class="title">{{ article.title }}</h2>
    <ul class="info__container">
        <li class="info__item">{{ article.tag }}</li>
        <li class="info__item">Added by
            <span class="info__mark">{{ article.author }}</span>
        </li>
        <li class="info__item">{{ article.date }}</li>
    </ul>
    <div class="actions__container">
        <button type="button" class="actions__btn" (click)="editArticle()">Edit</button>
        <button type="button" class="actions__btn" (click)="deleteArticle()">Delete</button>
    </div>

    <img src="{{ article.imgUrl }}" alt="Image">
    <div class="content__container">
        <p>{{ article.content }}</p>
    </div>
    <div class="readmore__container">
        <button class="button">Read More</button>
    </div>
</article>